<extend name="public:base_one" />
<block name="body">
<div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">角色信息编辑</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form action="{:url('AuthGroup/edit')}"  enctype="multipart/form-data" method="post">
            <input type="hidden" name="id" value="{$data.id}">
            <div class="box-body">
                <!-- text input -->
                <div class="form-group">
                    <label>用户组中文名称 认证组名称</label>
                    <input type="text" name="title" class="form-control" value="{$data.title}" placeholder="输入..." >
                </div>
                <div class="form-group">
                    <label>规则ID</label>
                    <input type="text" name="rules" class="form-control" value="{$data.rules}" placeholder="输入..." >
                </div>
                <div class="form-group">
                    <label>描述</label>
                    <input type="text" name="describe" class="form-control" value="{$data.describe}" placeholder="输入..." >
                </div>
                <div class="form-group">
                    <label>是否启用</label>
                    <input type="radio" name="status" value="1" class="minimal" <if condition="$data.status eq 1">checked</if>>
                    启用
                    <input type="radio" name="status" value="0" class="minimal" <if condition="$data.status eq 0">checked</if>>
                    禁用
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <a href="{:url('AuthGroup/index')}"><button type="button" class="btn btn-danger btn-flat"><i class="fa fa-times"></i> 取消</button></a>
                <button type="submit" class="btn btn-primary pull-right btn-flat"><i class="fa fa-save"></i> 更新</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
    <div id="icon"></div>

</div>
</block>