<include file="public/header"/>
<block name="css"></block>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <block name="top"><include file="public/top" /></block>
    <!-- Left side column. contains the logo and sidebar -->
    <block name="left"><include file="public/left" /></block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- 标题栏 -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <block name="body">
                <!-- 主页面 -->
                </block>
            </div>
        </section>
    </div>
    <!-- Main Footer -->
    <include file="public/foot" />
</div>
</body>
<include file="public/js" />
<block name="js"></block>
</html>