<include file="common@public/header_view"/>
<block name="css"></block>
<body style="height: 100%;" class="hold-transition skin-purple-light sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <block name="top"><include file="common@public/top_view" /></block>
    <div>
        <!-- 标题栏 -->
        <!-- Main content -->
        <section class="content" style="padding-left: 50px;padding-right: 50px;">
            <div class="row">
                <block name="body">
                <!-- 主页面 -->
                </block>
            </div>
        </section>
    </div>
    <!-- Main Footer -->
    <include file="common@public/foot_view" />
</div>

</body>
<include file="common@public/js" />
<block name="js"></block>
</html>