<aside id="left_scroll" style="overflow: scroll;overflow-x:hidden;z-index: 100;" class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <volist id="left" name="left_data">
                <li class="treeview active">
                    <span style="color: #000;background: #f4f4f5;font-weight: 600;border-left: 3px solid transparent;position: relative;padding: 12px 5px 12px 15px;display: block;" >
                        <span>{$key}</span>
                        <a onclick="return confirm('是否确认删除？');" href="{:url('cate/del',['cate_id'=>$left['cate_id'],'project_module_id'=>$project_module_id,'project_id'=>$project_id])}">
                            <span style="margin: 0px;font-size: 100%" class="label label-danger pull-right">Del</span>
                        </a>
                        <a data-reveal-id="cate_edit" cate_name="{$key}" cate_id="{$left['cate_id']}" href="#">
                            <span style="margin: 0px;font-size: 100%;margin-right: 5px;" class="label label-primary pull-right">Edit</span>
                        </a>
                        <!--<i class="fa fa-angle-double-down pull-right"></i>-->
                    </span>
                    <ul class="treeview-menu">
                        <volist id="wiki_left" name="left['project_api']">
                            <li >
                            <span style=" padding: 5px 5px 5px 15px;display: block;font-size: 14px;">
                                 <a <if condition="$project_api_id eq $wiki_left.id">style="color:#00acd6;font-weight:bolder;"</if> href="{:url('project/show',['project_module_id'=>$project_module_id,'project_id'=>$project_id,'project_api_id'=>$wiki_left['id']])}">
                                        <i class="fa fa-circle-o"></i>
                                        {$wiki_left.api_name}
                                 </a>
                                <a onclick="return confirm('是否确认删除？');" href="{:url('project/del',['project_module_id'=>$project_module_id,'project_id'=>$project_id,'project_api_id'=>$wiki_left['id']])}">
                                    <span style="margin: 0px;font-size: 80%;margin-top: 1px;" class="badge bg-red pull-right">Del</span>
                                </a>
                                <!--<a href="{:url('project/show',['project_module_id'=>$project_module_id,'project_id'=>$project_id,'project_api_id'=>$wiki_left['id']])}">-->
                                    <!--<span style="margin: 0px;font-size: 80%;margin-right: 5px;margin-top: 1px;" class="badge bg-light-blue pull-right">Edit</span>-->
                                <!--</a>-->
                            </span>
                            </li>
                        </volist>
                        <li>
                            <a  style="color: red;" href="{:url('project/add',['cate_id'=>$left['cate_id'],'project_module_id'=>$project_module_id,'project_id'=>$project_id])}">
                                <i class="fa  fa-plus"></i>
                                新增接口
                            </a>
                        </li>
                    </ul>
                </li>
            </volist>
            <notempty name='project_module_id'>
                <li class="treeview active">
                    <span style="color: #000;background: #f4f4f5;font-weight: 600;border-left: 3px solid transparent;position: relative;padding: 12px 5px 12px 15px;display: block;">
                        <!--<a style="color: red;" id="add_cate" href="{:url('project/add_cate',['project_module_id'=>$project_module_id,'project_id'=>$project_id])}">-->
                        <a data-reveal-id="add_cate" style="color: red;" href="#">
                            <i class="fa  fa-plus"></i>
                            新增分类
                        </a>
                    </span>
                </li>
            </notempty>
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>