<section class="content-header">
    <volist name="li_info" id="li_one"}
        <notempty name="li_one['li_two']"}
            <!--存在二级标题-->
            <volist name="li_one['li_two']" id="li_two"}
                <eq name="sign" value="$li_two.sign"}
                    <h1>
                        {$li_two.title}
                        <small>{$li_two.description}</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i>{$li_one.title}</li>
                        <li class="active"><a href="__MODULE__/<{$li_two.module}>">{$li_two.title}</a></li>
                    </ol>
                </eq>
            </volist>
            <else />
            <!--不存在-->
            <eq name="sign" value="$li_one.sign"}
                <h1>
                    {$li_one.title}
                    <small>{$li_one.description}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-dashboard"></i><a href="__MODULE__/{$li_one.module}">{$li_one.title}</a></li>
                </ol>
            </eq>
        </notempty>
    </volist>
</section>