<extend name="public:base_one" />
<block name="body">
<div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">用户信息编辑</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form action="{:url('UserInfo/edit')}"  enctype="multipart/form-data" method="post">
            <input type="hidden" name="id" value="{$data.id}">
            <div class="box-body">
                <!-- text input -->
                <div class="form-group">
                    <label>用户名</label>
                    <input type="text" name="user_name" class="form-control" value="{$data.user_name}" placeholder="输入..." >
                </div>
                <div class="form-group">
                    <label>所属权限组</label>
                    <select name="user_group" class="form-control select2">
                        <option value="0">无</option>
                        <volist name="auth_group" id="vo"}
                            <option <if condition="$data['user_group'] eq $vo['id']"}selected = "selected"</if> value="{$vo.id}">{$vo.title}</option>
                        </volist>
                    </select>
                </div>
                <div class="form-group">
                    <label>是否启用</label>
                    <input type="radio" name="user_status" value="1" class="minimal" <if condition="$data.user_status eq 1">checked</if>>
                    启用
                    <input type="radio" name="user_status" value="2" class="minimal" <if condition="$data.user_status eq 2">checked</if>>
                    禁用
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <a href="{:url('UserInfo/index')}"><button type="button" class="btn btn-danger btn-flat"><i class="fa fa-times"></i> 取消</button></a>
                <button type="submit" class="btn btn-primary pull-right btn-flat"><i class="fa fa-save"></i> 更新</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
    <div id="icon"></div>

</div>
</block>