<extend name="public:base_one" />
<block name="body">
<form action="{:url('UserInfo/del')}"  enctype="multipart/form-data" method="post">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <input type="button" class="btn bg-navy btn-flat" id="checkAll" value="全选" />
                <input type="button" style="margin-left: 10px;" class="btn bg-navy btn-flat" id="check" value="反选" />
                <input style="margin-left: 10px;" onclick="return confirm('是否确认删除选中？');" type="submit" class="btn bg-maroon btn-flat" value="删除选中" />
                <a href="{:url('UserInfo/add')}"><button type="button" class="btn btn-primary pull-right btn-flat">新增</button></a>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th style="width: 10px;"></th>
                        <th style="width: 50px;">ID</th>
                        <th>用户名</th>
                        <th>登录次数</th>
                        <th>最后登录IP</th>
                        <th>最后登录时间</th>
                        <th>所属权限组</th>
                        <th>用户状态</th>
                        <th style="width: 120px;">操作</th>
                    </tr>
                    <volist id="vo" name="data">
                        <tr>
                            <td><input type="checkbox" class="minimal" value="{$vo.id}" name="id[]"></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.user_name}</td>
                            <td>{$vo.user_login}</td>
                            <td>{$vo.last_login_ip}</td>
                            <td>{$vo.update_time|date='Y-m-d H:i:s',###}</td>
                            <td>{$get_group_title[$vo['user_group']]}</td>
                            <td>
                                <eq name="vo['user_status']" value="1"}
                                    <span class="badge bg-light-blue">启用</span>
                                    <else />
                                    <span class="badge bg-red">禁用</span>
                                </eq>
                            </td>
                            <td>
                                <div style="width: 100px;">
                                <a href="{:url('UserInfo/edit',array('id'=>$vo['id']))}">
                                    <button style="width: 50px; float: left;" type="button" class="btn btn-block bg-light-blue btn-flat">编辑</button>
                                </a>
                                <a onclick="return confirm('是否确认删除？');" href="{:url('UserInfo/del',array('id'=>$vo['id']))}">
                                    <button style="width: 50px;" type="button" class="btn btn-block bg-red btn-flat">删除</button>
                                </a>
                                </div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
                {$data->render()}
            </div>
        </div>
    </div>
</form>
</block>
