<extend name="public:base_one" />
<block name="body">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">角色信息添加</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form action="{:url('KrTest/add')}"     enctype="multipart/form-data"           method="post">
                <div class="box-body">
                    <!-- text input -->
                    <div class="form-group">
                        <label>名称</label>
                        <input type="text" name="title" class="form-control" placeholder="输入..." >
                    </div>
                    <div class="form-group">
                        <label>全景图片</label>
                        <div class="btn btn-default">
                            <i style="font-size: 22px;float: left;margin-right: 10px;" class="fa fa-paperclip"></i>
                            <input type="file" name="image" />
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <a href="{:url('KrTest/index')}"><button type="button" class="btn btn-danger btn-flat"><i class="fa fa-times"></i> 取消</button></a>
                    <button type="submit" class="btn btn-primary pull-right btn-flat"><i class="fa fa-save"></i> 更新</button>
                </div><!-- /.box-footer -->
            </form>
        </div><!-- /.box -->
        <div id="icon"></div>

    </div>
</block>