<extend name="common@public:base" />
<block name="title">
    <title>
        <?php switch ($code) {?>
        <?php case 1:?>
        操作成功
        <?php break;?>
        <?php case 0:?>
        操作失败
        <?php break;?>
        <?php } ?>
    </title>
</block>
<block name="body">
<style>
    @media (max-width: 991px){
       #error {
            text-align: center;
        }
    }
</style>
<!-- Main content -->
<section class="content">
    <div class="error-page">

        <h2 class="headline text-yellow">
            <?php switch ($code) {?>
            <?php case 1:?>
            :)
            <?php break;?>
            <?php case 0:?>
            :(
            <?php break;?>
            <?php } ?>
        </h2>
        <div class="error-content">
            <h3>&nbsp;</h3>
            <h3><i class="fa fa-warning text-yellow"></i><?php echo(strip_tags($msg));?></h3>

                <div id="error" style="width: 100%;" class="input-group">
                        页面自动 <a id="href" href="<?php echo($url);?>">跳转</a><i class="fa fa-hourglass-half"></i> 等待时间： <b id="wait"><?php echo($wait);?></b>
                </div>
                <!-- /.input-group -->
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
</block>
<block name="js">
    <script type="text/javascript">
        (function(){
            var wait = document.getElementById('wait'),href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>
</block>
