<extend name="public:base_one"/>
<block name="body">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">导航信息添加</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form action="<php>echo url('Lione/add');</php>"  enctype="multipart/form-data" method="post">
                <div class="box-body">
                    <input type="hidden" name="li_module" value="Admin">
                    <!-- text input -->
                    <div class="form-group">
                        <label>标题（必填）</label>
                        <input type="text" name="li_title" class="form-control" placeholder="输入..." >
                    </div>
                    <div class="form-group">
                        <label>标识（与控制器名一致，存在二级标题就不需要写）</label>
                        <input type="text" name="li_sign" class="form-control" placeholder="输入..." >
                    </div>
                    <div class="form-group">
                        <label>控制器（存在二级标题就不需要写）</label>
                        <input type="text" name="li_controller" class="form-control" placeholder="输入...">
                    </div>
                    <div class="form-group">
                        <label>方法（存在二级标题就不需要写）</label>
                        <input type="text" name="li_function" class="form-control" placeholder="输入...">
                    </div>
                    <div class="form-group">
                        <label>排序</label>
                        <input type="text" name="li_order" class="form-control" placeholder="输入..." value="0">
                    </div>
                    <div class="form-group">
                        <label>是否展示</label>
                        <input type="radio" name="li_is_show" value="1" class="minimal" checked>
                        展示
                        <input type="radio" name="li_is_show" value="2" class="minimal" >
                        隐藏
                    </div>
                    <div class="form-group">
                        <label>图标</label><button id="con" type="button" class="btn bg-purple btn-flat margin">展示图标列表</button>
                        <input type="text" name="li_icon" class="form-control" placeholder="输入...">
                    </div>

                </div><!-- /.box-body -->
                <div class="box-footer">
                    <a href="<php>echo url('Lione/index');</php>"><button type="button" class="btn btn-danger btn-flat"><i class="fa fa-times"></i> 取消</button></a>
                    <button type="submit" class="btn btn-primary pull-right btn-flat"><i class="fa fa-save"></i> 更新</button>
                </div><!-- /.box-footer -->
            </form>
        </div><!-- /.box -->
        <div id="icon"></div>

    </div>
</block>
<block name="js">
    <script>
        //ajax 图标
        $("#con").click(function(){
            var url = "<php>echo url('Lione/ajax_icon');</php>";
            $.ajax({
                url : url,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                data:'', //发送到服务器的数据。将自动转换为请求字符串格式。
                type:'post',
//            dataType:"",//预期服务器返回的数据类型。如果不指定，jQuery 将自动根据 HTTP 包 MIME 信息来智能判断
                success : function (data) {
                    document.getElementById("icon").innerHTML=data;
                },
                async:true,   //true为异步请求，false为同步请求
                error:function(){
                    alert("请求失败");
                }
            });
        });
    </script>
</block>