<extend name="public:base_one"/>
<block name="body">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">导航信息更改</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form action="{:url('Lione/edit')}" enctype="multipart/form-data" method="post">
                <input type="hidden" name="id" value="{$data.id}">
                <div class="box-body">
                    <!-- text input -->
                    <div class="form-group">
                        <label>标题（必填）</label>
                        <input type="text" name="li_title" class="form-control" placeholder="输入..." value="{$data.li_title}">
                    </div>
                    <div class="form-group">
                        <label>标识（与控制器名一致，存在二级标题就不需要写）</label>
                        <input type="text" name="li_sign" class="form-control" placeholder="输入..." value="{$data.li_sign}">
                    </div>
                    <div class="form-group">
                        <label>控制器（存在二级标题就不需要写）</label>
                        <input type="text" name="li_controller" class="form-control" placeholder="输入..." value="{$data.li_controller}">
                    </div>
                    <div class="form-group">
                        <label>方法（存在二级标题就不需要写）</label>
                        <input type="text" name="li_function" class="form-control" placeholder="输入..." value="{$data.li_function}">
                    </div>
                    <div class="form-group">
                        <label>排序</label>
                        <input type="text" name="li_order" class="form-control" placeholder="输入..." value="{$data.li_order}">
                    </div>
                    <div class="form-group">
                        <label>是否展示</label>
                        <input type="radio" name="li_is_show" value="1" class="minimal" <if condition="$data.li_is_show eq 1">checked</if>>
                        展示
                        <input type="radio" name="li_is_show" value="2" class="minimal" <if condition="$data.li_is_show eq 2">checked</if>>
                        隐藏
                    </div>
                    <div class="form-group">
                        <label>图标</label><button id="con" type="button" class="btn bg-purple btn-flat margin">展示图标列表</button>
                        <input type="text" name="li_icon" class="form-control" placeholder="输入..." value="{$data.li_icon}">
                    </div>

                </div><!-- /.box-body -->
                <div class="box-footer">
                    <a href="{:url('lione/index')}"><button type="button" class="btn btn-danger btn-flat"><i class="fa fa-times"></i> 取消</button></a>
                    <button type="submit" class="btn btn-primary pull-right btn-flat"><i class="fa fa-save"></i> 更新</button>
                </div><!-- /.box-footer -->
            </form>
        </div><!-- /.box -->
        <div id="icon"></div>
    </div>
</block>
<block name="js">
<script>
    //ajax 图标
    $("#con").click(function(){
        var url = "<php>echo url('Lione/ajax_icon');</php>";
        $.ajax({
            url : url,
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            data:'',
            type:'post',
            success : function (data) {
                document.getElementById("icon").innerHTML=data;
            },
            async:true,
            error:function(){
                alert("请求失败");
            }
        });
    });
</script>
</block>