<extend name="public:base_one" />
<block name="body">
    <form action="<php>echo url('Lione/del');</php>"  enctype="multipart/form-data" method="post">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <input type="button" class="btn bg-navy btn-flat" id="checkAll" value="全选" />
                    <input type="button" style="margin-left: 10px;" class="btn bg-navy btn-flat" id="check" value="反选" />
                    <input style="margin-left: 10px;" onclick="return confirm('是否确认删除选中？');" type="submit" class="btn bg-maroon btn-flat" value="删除选中" />
                    <a href="<php>echo url('Lione/add');</php>"><button type="button" class="btn btn-primary pull-right btn-flat">新增</button></a>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th style="width: 10px;"></th>
                            <th style="width: 50px;">ID</th>
                            <th>标题名</th>
                            <th>标识</th>
                            <th>控制器</th>
                            <th>方法</th>
                            <th>是否显示</th>
                            <th>是否有二级菜单</th>
                            <th>排序</th>
                            <th>图标</th>
                            <th style="width: 120px;">操作</th>
                        </tr>
                        <volist id="vo" name="data">
                            <tr>
                                <td><input type="checkbox" class="minimal" value="{$vo.id}" name="id[]"></td>
                                <td>{$vo.id}</td>
                                <td>{$vo.li_title}</td>
                                <td>{$vo.li_sign}</td>
                                <td>{$vo.li_controller}</td>
                                <td>{$vo.li_function}</td>
                                <td>
                                    <switch name="vo.li_is_show" >
                                        <case value="1">显示</case>
                                        <case value="2">不显示</case>
                                        <default />不显示
                                    </switch>
                                </td>
                                <td>
                                    <empty name="vo.li_controller">
                                        有
                                        <else/>
                                        无
                                    </empty>
                                </td>
                                <td>{$vo.li_order}</td>
                                <td>{$vo.li_icon}</td>
                                <td>
                                    <div style="width: 100px;">
                                        <a href="<php>echo url('Lione/edit',['id'=>$vo['id']]);</php>">
                                            <button style="width: 50px; float: left;" type="button" class="btn btn-block bg-light-blue btn-flat">编辑</button>
                                        </a>
                                        <a onclick="return confirm('是否确认删除？');" href="<php>echo url('Lione/del',['id'=>$vo['id']]);</php>">
                                            <button style="width: 50px;" type="button" class="btn btn-block bg-red btn-flat">删除</button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>

                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    {$data->render()}
                </div>
            </div>
        </div>
    </form>
</block>